
.search-form {
    margin-top: 1rem; 
    display: flex;
    justify-content: flex-end; 
}

.search-form .form-control {
    height: 35px;
    font-size: 18px;
}

.search-form .btn-primary {
    height: 35px;
    font-size: 18px;
    padding: 0.375rem 0.75rem;
}
